rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, list: if request.auth != null;
      allow create: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId;
      allow delete: if false;
    }

    match /appointments/{appointmentId} {
      allow read: if request.auth != null 
        && (request.auth.uid == resource.data.patientId 
        || request.auth.uid == resource.data.doctorId);
      allow create: if request.auth != null;
      allow update: if request.auth.uid == resource.data.doctorId;
      allow delete: if false;
    }
    
    match /calls/{callId} {
      allow read, write: if request.auth != null;
    }

    match /calls/{callId}/{subcollection}/{document=**} {
      allow read, write: if request.auth != null;
    }

    match /prescriptions/{prescriptionId} {
      allow read: if request.auth != null 
        && (request.auth.uid == resource.data.patientId 
        || request.auth.uid == resource.data.doctorId);
      allow list: if request.auth != null && request.auth.uid == resource.data.doctorId;
      allow create, update: if request.auth != null && request.auth.uid == request.resource.data.doctorId;
      allow delete: if false;
    }
  }
}
